/* Overall */
/* --------------------------------------- */
/*html, body, div {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  /* If we are going to place a footer using flexbox, then we do not use overflow hidden in the header */
  /*overflow: hidden;*/
  height: 70px;
  line-height: 70px;
  background-color: #f3ecdc;
  /*border-bottom: 2px solid blue ;*/
}

.nav-container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  float: left;
}

.menu {
  float: right;
  list-style: none;
}

.menu li {
  float: left;
  width: 120px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.jumbotron {
  background-image: url("../assets/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  text-align: center;
}

.overlay-container {
  display: flex;
  justify-content: center;
}

.jumbotron-text {
  position: relative;
  top: 9rem;
  padding: 30px;
  color: white;
  background-color: #00000094;
  width: 590px;
}

.offer-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 1rem;
  /* Made the width smaller and added margin. By changing the width it makes the columns try to fit into this space  */
  margin: 0 auto;
  max-width: 900px;
}

.offer-card {
  background: white;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.offer-card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 23px;
}

.offer-container-text {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #f0f0f0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-bottom: 40px;
}

.footer {
  flex-shrink: 0;
  height: 70px;
  background-color: #f3ecdc;
  width: 100%;
  margin: 0 auto;
}

.footer-social-icons {
}

.social-icons {
  display: inline-flex;
  list-style: none;
  margin-top: 30px;
  line-height: 40px;
}

.social-icons li {
  margin-left: 20px;
}

.fa {
  font-size: 30px;
}

.fa-linkedin:hover {
  color: blue;
}



button, i {
  cursor: pointer;
}

/*.logo-container {*/
/*  !*display: flex;*!*/
/*}*/

/*.nav-container {*/
/*  !*flex-direction: row;*!*/
/*  !*display: flex;*!*/
/*  float: right;*/
/*}*/

/*img {*/
/*  float: left;*/
/*}*/

/*!*header {*!*/
/*!*  display: flex;*!*/
/*!*}*!*/

/*.logo {*/
/*  height: 150px;*/
/*}*/

/*.nav-ul {*/
/*  !*list-style-type: none;*!*/
/*  !*display: inline-flex;*!*/
/*  list-style: none;*/
/*  !*margin: 0;*!*/
/*  !*padding: 0;*!*/
/*}*/

/*.nav-link {*/
/*  display: inline-block;*/
/*}*/